*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#maindiv{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
    gap: 20px;
}
.boxfirst{
width: 200px;
height: 200px;
background: linear-gradient(white,gold) ;
color: brown;
font-size: 20px;
border: 1px solid black;
flex-wrap: wrap;
}


.boxsecond{
        width: 200px;
height: 200px;
background: linear-gradient(white,gold) ;
color: brown;
font-size: 20px;
border: 1px solid black;
flex-wrap: wrap;

}
.boxfirst .small{
    
    width: 160px;
    height: 160px;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    
}

.box2{
    width: 60px;
    height: 60px;
    border: 1px solid black;
    display: flex

}

.boxthird{
    width: 200px;
height: 200px;
background: linear-gradient(white,gold) ;
color: brown;
font-size: 20px;
border: 1px solid black;
flex-wrap: wrap;
}

.boxforth{
    width: 200px;
height: 200px;
background: linear-gradient(white,gold) ;
color: brown;
font-size: 20px;
border: 1px solid black;
flex-wrap: wrap;
}

#maindiv .boxthird div{
        width: 20px;
        height: 20px;
        border: 1px solid black;
       
}

