*{

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



#top{
         
    width: 100%;
    height: 70px;
        display: flex;
        background-color: rgb(116, 106, 106);
        font-size: larger;
        color: beige;
        justify-content: space-evenly;
        align-items: center;
        z-index: 300;
        position: fixed;
        
        
}
.logo{
    display: flex;
    width: 40%;
    height: 150%;
    z-index: 299;;

    }

.fulltopnav{
    display: flex;
    justify-content: space-evenly;
    
}
.topnav{
    display: flex;
    gap: 25px;
    font-size: 20px;
    justify-content: space-evenly;
    color: white;
}

.topnav2{
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    color: blue;

    gap: 25px;
    
}

.topnav2 :hover{
    color: brown;
    font-size: x-large;

}
.top2{
    display: flex;
    justify-content: center;
}
.top3{
    display: flex;
    justify-content: center;
}
.para1{
    display: flex;
    justify-content: center;
    text-align: center;
}
#top .fulltopnav .topnav li a{
    text-decoration: none;

}
#top .fulltopnav .topnav li a:hover{

    color: brown;
    font-size: x-large;
}

#top .fulltopnav .topnav li{
    list-style: none;
}
.firstpage{
    width: 100%;
    height: 500px;
    

    
    


}
.firstpage img{
    width: 100%;
    height: 500px;
    background-image: url(./images/1920_Emirates-A380-132221.jpg);
    
    
    
    

}
.board1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    
}
.box1{
    width: 300px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    border: 1px solid rgb(235, 233, 233);
    background-color: rgb(255, 255, 255);
    
}
#top .fulltopnav .topnav2:hover{
    list-style: none;
}
.box1.a{
    text-decoration: none;
    list-style: none;
}

.board2{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.board2 :hover{
    color: brown;
    font-size: xx-large;
}
.box2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 2px solid gray;
        /* padding: 45px; */
        font-size: 20px;
        width: 200px;
        height: 200px;

}
#icons{
    font-size: 50px;
}

#page3{

    width: 100%;
    height: 100vh;
    font-size: xx-large;


}

#page3 h1{
    display: flex;
    justify-content: center;
    text-decoration: underline;
    t
}

.p3div{

    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    gap: 40px;
    
}

#page3 .p3div div{

    width: 400px;
    height: 350px;
    border: 2px solid grey;
   /* need help with image adjustment   */
   box-shadow: 1px 5px 5px 5px;
   justify-content: center;
   align-items: center;
   color: rgb(70, 68, 68);
     

    
}
 .p3div div :hover{
    transform: scale(1.5);
    transition: all ease 2s;
}

#page4{

    width: 100%;
    height: 100vh;

}
#page4 h1{
    display: flex;
    justify-content: center;
    font-size: 40px;
}
#page4 h5{
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.p4div{

    display: flex;
    justify-content: center;
    gap: 100px;


}

#page4 .p4div div{

    width: 250px;
    height: 250px;
    border: 3px double grey;
    border-radius: 50%;
    overflow: hidden;
}

.p4div div:hover{
    transform: scale(1.2);
}