*{

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



#top{
         
    width: 100%;
    height: 70px;
        display: flex;
        background-color: rgb(116, 106, 106);
        font-size: larger;
        color: beige;
        justify-content: space-evenly;
        align-items: center;
        z-index: 300;
        position: fixed;
        
        
}
.logo{
    display: flex;
    width: 40%;
    height: 150%;
    z-index: 299;;

    }

.fulltopnav{
    display: flex;
    justify-content: space-evenly;
    
}
.topnav{
    display: flex;
    gap: 25px;
    font-size: 20px;
    justify-content: space-evenly;
    color: white;
}

.topnav2{
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    

    gap: 25px;
}
.top2{
    display: flex;
    justify-content: center;
}
.top3{
    display: flex;
    justify-content: center;
}
.para1{
    display: flex;
    justify-content: center;
    text-align: center;
}
#top .fulltopnav .topnav li a{
    text-decoration: none;

}
#top .fulltopnav .topnav li a:hover{

    color: brown;
    font-size: x-large;
}

#top .fulltopnav .topnav li{
    list-style: none;
}
.firstpage{
    width: 100%;
    height: 500px;
    

    
    


}
.firstpage img{
    width: 100%;
    height: 500px;
    background-image: url(./images/1920_Emirates-A380-132221.jpg);
    
    
    
    

}
.board1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.box1{
    display: flex;
    justify-content: center;
    font-size: 25px;
    border: 1px solid rgb(235, 233, 233);
    padding: 15px;
    background-color: rgb(255, 255, 255);
}
#top .fulltopnav .topnav2:hover{
    list-style: none;
}
.box1.a{
    text-decoration: none;
    list-style: none;
}

.board2{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.box2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 2px solid gray;
        /* padding: 45px; */
        font-size: 20px;
        width: 200px;
        height: 200px;

}
#icons{
    font-size: 50px;
}

