#top{
        display: flex;
        background-color: rgb(116, 106, 106);
        font-size: larger;
        color: beige;
        justify-content: space-around;
        padding: 10px;
}

.topnav{
    display: flex;
    gap: 25px;
    font-size: 20px;
}

.topnav2{
    display: flex;
    gap: 25px;
}
.top2{
    display: flex;
    justify-content: center;
}
.top3{
    display: flex;
    justify-content: center;
}
.para1{
    display: flex;
    justify-content: center;
}
